# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env
.env.development
.env.staging
.env.production

# IDE
.idea/
.vscode/
*.swo
.DS_Store

# Project specific
logs/
*.csv
*.log
*.sqlite
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# OWN
trends/

# JS
node_modules/

# Ai Prompt
build_prompt/

# CI/CD/Infra
cicd/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
# KMS
kms_config.json

# Special for TradingFlow Python worker
python/py_worker/config/
cloud_ops/
*.db

# local tools
local_tools/

# Celery相关
celerybeat.pid
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
celerybeat-schedule.db

# myenv
myenv/