# Put in /opt/tradingflow/python-services
version: "3.8"

services:
  account-services:
    image: caesarlynch/tradingflow-account-services:stg
    container_name: tradingflow-account-services
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - ./logs:/app/logs
    ports:
      - "7001:7001"
    networks:
      - tradingflow-network
    dns:
      - 8.8.8.8
      - 8.8.4.4
    extra_hosts:
      - "tradingflow-postgres:${DATA_SERVER_IP}"
      - "tradingflow-redis:${DATA_SERVER_IP}"
      - "tradingflow-rabbitmq:${DATA_SERVER_IP}"

  py-worker:
    image: caesarlynch/tradingflow-py-worker:stg
    container_name: tradingflow-py-worker
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - ./logs:/app/logs
    ports:
      - "7000:7000"
    networks:
      - tradingflow-network
    dns:
      - 8.8.8.8
      - 8.8.4.4
    extra_hosts:
      - "tradingflow-postgres:${DATA_SERVER_IP}"
      - "tradingflow-redis:${DATA_SERVER_IP}"
      - "tradingflow-rabbitmq:${DATA_SERVER_IP}"

networks:
  tradingflow-network:
    driver: bridge
